html {
  /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif*/
  font-family: "Open Sans", "Gill Sans", "Gill Sans MT", "Calibri",
    "Trebuchet MS", sans-serif;
}

/* ESTILO GENERAL DE ENCABEZADO*/
header {
  background-color: #000000a8;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

/* ESTILOS PARA ENLACES*/
a {
  color: inherit;
  font-family: "Texturina";
  font-size: 20px;
  text-decoration: underline;
}

/* ESTILOS PARA TÍTULOS*/
h1 {
  text-align: center;
  text-shadow: rgb(0, 0, 0);
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
}

h3 {
  text-align: center;
  color: #413200;
  font-family: "Texturina", serif;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 35px;
}

/* ESTILOS PARA PÁRRAFOS*/
p {
  text-align: justify;
  color: #413200;
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 20px;
  margin: 10px;
}

h3,
p {
  width: 100%;
}

h3 a {
  text-decoration: none;
  font-size: xx-large;
}

/* LOGO DE LA PÁGINA */
#logo {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: 76px;
}

#logo a,
li,
img {
  list-style-type: none;
  text-decoration: none;
  font-size: 30px;
  transition: background-color 0.3s;
}

#title_img {
  width: 80px;
  height: 80px;
}

/* NAVEGACIÓN PRINCIPAL */
.navbar {
  max-width: max-content;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#navbar-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
}

nav {
  float: left;
}

.nav-links {
  width: 100%;
  display: block;
}

.btn-links,
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
}

.nav-links li,
.btn-links li {
  display: inline-block;
  align-content: space-around;
}

.nav-links li a,
.btn-links li a {
  color: #002f57;
  text-decoration: none;
  padding: 10px 10px;
  display: inline-block;
  width: max-content;
  text-align: center;
}

.nav-links li a,
.btn-links li a,
#logo {
  border-radius: 10px;
  margin: 10px;
  padding: 10px 40px;
}
.nav-links li a {
  background-color: #48c7dd;
  border: solid 2px #48c7dd;
}

.nav-links li a:hover {
  background-color: #e9a0a5;
  border: solid 2px #e9a0a5;
}

.btn-links li a,
#logo {
  background-color: #ffffff;
  border: solid 2px #ffffff;
  color: #413200;
}
.btn-links li a:hover,
#logo:hover {
  background-color: #bebebe;
  border: solid 2px #bebebe;
}

.search-bar {
  margin: 10px;
}

.search-bar,
form .search-bar,
#logo,
.btn-links {
  align-items: center;
  justify-content: center;
  width: fit-content;
}

/* Estilo del input de la barra de búsqueda */
.search-bar input[type="text"] {
  width: 300px;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-bar input[type="text"]:focus {
  border-color: #a3312b; /* Color de borde cuando está enfocado */
}

/* Estilo del botón de búsqueda */
.search-bar button {
  background-color: #ce4e48;
  border: solid 2px #ce4e48;
  padding: 10px 16px;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #a3312b;
  border: solid 2px #a3312b; /* Color al pasar el mouse */
}

.search-bar button:active {
  background-color: #b71b1b; /* Color al presionar */
}

.search-bar button,
.search-bar input[type="text"] {
  height: 50px;
}

/* Estilo del botón de búsqueda #2*/
#summary_container .search-bar input[type="text"]:focus {
  border-color: #2b2da3; /* Color de borde cuando está enfocado */
}

#summary_container .search-bar button {
  background-color: #484ace;
  border: solid 2px #484ace;
  padding: 10px 16px;
  color: #fff;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#summary_container .search-bar button:hover {
  background-color: #2b2da3;
  border: solid 2px #2b2da3; /* Color al pasar el mouse */
}

#summary_container .search-bar button:active {
  background-color: #2b1bb7; /* Color al presionar */
}

#summary_container .search-bar button,
#summary_container .search-bar input[type="text"] {
  height: 50px;
}

#back-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("https://images5.alphacoders.com/132/1329624.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#main-container {
  background-color: #89b6eb63;
  width: -webkit-fill-available;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: none;
  padding: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container_item {
  padding: 10px;
}

.base_container * {
  font-family: "Texturina", serif;
  color: #413200;
}
.base_container form {
  width: 90%;
}

#wiki_title {
  font-family: "Texturina", serif;
  color: #413200;
  font-size: 80px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* AQUI MODIFICARLO PLIS */
.page_title {
  background: linear-gradient(
    0deg,
    rgb(255, 201, 2) 0%,
    rgba(255, 201, 2, 1) 15%,
    rgba(253, 29, 29, 1) 15%,
    rgba(253, 29, 29, 1) 50%,
    rgba(255, 201, 2, 1) 50%,
    rgba(255, 201, 2, 1) 97%
  );
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 15px;
  width: auto;
  height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 265px;
  background: #ffffff59;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.1s 0s linear;
  position: relative;
  overflow: hidden;
  margin: 0px;
  border: solid 5px #413200;
}

.card:active {
  scale: 0.95;
}

.card::after {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #f6a700;
  position: absolute;
  top: 270px;
  transition: top 0.2s 0s ease-in-out;
  z-index: 1;
}

#luffy::after {
  background-color: #e83939;
}
#zoro::after {
  background-color: #9ce860;
}
#nami::after {
  background-color: #f77407;
}
#usopp::after {
  background-color: #f6a700;
}
#sanji::after {
  background-color: #ebe56c;
}
#chopper::after {
  background-color: #de8081;
}
#robin::after {
  background-color: #d7b3d7;
}
#franky::after {
  background-color: #7ad8ea;
}
#brook::after {
  background-color: #f4f4f5;
}
#jinbe::after {
  background-color: #a1caea;
}

.card:hover::after {
  top: -50px;
}

#crew_container h1 {
  color: #413200;
  font-family: "Texturina", serif;
  font-size: 170px;
  width: 100%;
  margin: 0px;
}

.card p {
  position: absolute;
  z-index: 10;
  margin: 10px;
  text-align: center;
  color: #413200;
  font-family: "Texturina", serif;
  font-size: larger;
}

.card img {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  border: solid 5px #413200;
}

#main_image {
  max-height: 500px;
  max-width: 700px;
  border-radius: 20px;
  object-fit: contain;
}

.base_container,
#summary_container {
  background-image: url("https://i.pinimg.com/736x/b9/59/a6/b959a613d72931499249fd457b9048eb.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 20px;
}

#summary_container h3 {
  color: #413200;
  font-size: 35px;
}

#summary_container h1 {
  color: #484ace;
  font-size: 28px;
}

#summary_container p {
  color: #413200;
  font-size: 25px;
  width: 100%;
  margin: 10px;
}

#crew_container {
  background-image: url("https://i.pinimg.com/736x/b9/59/a6/b959a613d72931499249fd457b9048eb.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
  padding-bottom: 40px;
}

/* AQUI MODIFICARLO PLIS */
.info_card {
  background-image: url("https://i.pinimg.com/736x/b9/59/a6/b959a613d72931499249fd457b9048eb.jpg");
  background-size: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

  margin-bottom: 20px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;

  border-radius: 40px;
  max-width: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}

.info_card img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 200px;
  height: auto;
}

.info_card a {
  width: 100%;
  text-align: right;
  align-items: end;
}

.character-overview a:hover {
  color: royalblue;
}
.character-overview a:focus {
  color: darkblue;
}

.character-image {
  width: 250px;
  height: 400px;
  border-radius: 10%;
  margin-bottom: 15px;
}

.info_card h3 {
  color: #413200;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 35px;
  text-align: center;
  width: 100%;
}

.info_card ul {
  list-style-type: disc;
  margin: 0;
}

.footer {
  background: #3a86ff;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  font-size: 0.9rem;
  margin: 0px;
}

#fruit {
  width: 200px;
  height: auto;
  margin: 10px;
}

.highlight {
  background-color: #f6a700;
  font-family: "Texturina";
  color: #413200;
  text-shadow: none;
}

.pagination {
  background-color: #333;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 15px;
}

.step-links span {
  padding: 15px;
  font-family: "Texturina";
  font-weight: 100px;
  font-size: 20px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
}

.step-links a {
  padding: 20px;
  font-family: "Texturina";
  font-weight: 100px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.step-links span {
  background-color: #ef2323;
}

.step-links a:hover {
  background-color: #555;
}

#page_container {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  padding: 20px;
  background-image: url("https://i.pinimg.com/736x/b9/59/a6/b959a613d72931499249fd457b9048eb.jpg");
}

.search-result {
  border: 5px solid #ffffff00;
  border-bottom-color: #413200;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 20px;
  background-color: #00000025;
}

.search-result a {
  color: #484ace;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.search-result button {
  color: #484ace;
  font-size: larger;
  font-weight: bold;
  background-color: #ffffff;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 10px;
  border: none;
}

.search-result button:hover {
  background-color: #484ace;
  color: #fff;
}

.search-result:nth-child(odd) {
  border-bottom-color: #2e2402;
}

#logout {
  width: 205px;
  height: 55px;
  font-family: "Texturina";
  font-weight: 100px;
  font-size: 20px;
  color: #413200;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 10%;
}

#logout:hover {
  background-color: #bebebe;
  border-color: #bebebe;
}

.sections {
  margin: 4%;
}

.sections h2 {
  color: #ce4e48;
  text-decoration: underline;
  border-top: 2px solid #413200;
  margin-top: 50px;
}

.sections + .sections {
  margin-top: 2px;
  border: #ffffff00 solid 2px;
  border-radius: 20px;
  border-top-color: #333;
}

.btn-edit {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-edit:hover {
  background-color: #0056b3;
}

.module textarea {
  height: max-content;
}

.btn-remove-module {
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 12px;
  align-self: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: larger;
}

.btn-remove-module:hover {
  background-color: darkred;
}

.center {
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
}
