{% extends 'WikiPage/base.html' %}
{% block content %}
<div class="content">
    {% for character in characters %}   
        <section class="info_card character-overview">
            
            {% if character.image_url %}
            <img src="{{ character.image_url }}" alt="{{ character.name }}" class="character-image" /> 
            {% endif %}
            
            <h3>{{ character.name }}</h3>
            <p><strong>Edad:</strong> {{ character.age | default:"N/A"}}</p>
            <p><strong>Recompensa:</strong> {{ character.bounty | default:"N/A" }}</p>
            <p><strong>Estado:</strong> {{ character.status }}</p>
            <a href="{% url 'crew' character.crew.id %}" >
            <p><strong>Tripulación:</strong> {{ character.crew.name}}</p>
            </a>
            {% if character.fruit.id  != 2%}
            <a  href="{% url 'fruit' character.fruit.id %}" >
            <p><strong>Fruto:</strong> {{ character.fruit.name }}</p>
            </a>
            {% endif %}
        </section> 
    {% endfor %} 
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if characters.has_previous %}
                <a href="?page=1">Primera</a>
                <a href="?page={{ characters.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span>Página {{ characters.number }} de {{ characters.paginator.num_pages }}</span>
    
            {% if characters.has_next %}
                <a href="?page={{ characters.next_page_number }}">Siguiente</a>
                <a href="?page={{ characters.paginator.num_pages }}">Última</a>
            {% endif %}
        </span>
    </div>
 {% endblock %}