{% extends 'WikiPage/base.html' %} {% block content %}

<div class="content">
  {% for crew in crews %}
  <section class="info_card character-overview">
    {% if crew.image_url %}
    <img
      src="{{ crew.image_url }}"
      style="
        width: 100%;
        max-width: 350px;
        height: auto;
        max-height: 530px;
        object-fit: contain;
        border-radius: 10px;
        margin-bottom: 15px;
      "
    />
    {% endif %}

    <h3>
      {% if crew.exists %}
      <a href="{% url 'view_page' crew.name %}"> {{ crew.name}} </a>
      {% elif user.is_authenticated %}
      <a href="{% url 'create_page' %}?title={{ crew.name }}">
        {{ crew.name}}
      </a>
      {% else %}
      <a
        href="{% url 'login' %}?next={% url 'create_page' %}?title={{ crew.name }}"
      >
        {{ crew.name}}
      </a>
      {% endif %}
    </h3>
    <p>
      <strong>Número de miembros:</strong> {{ crew.number | default:"N/A" }}
    </p>
    <p>
      <strong>Emperador:</strong>
      {% if crew.is_yonko %} Sí {% else %} No {% endif %}
    </p>
  </section>
  {% endfor %}
</div>
<div class="pagination">
  <span class="step-links">
    {% if crews.has_previous %}
    <a href="?page=1">Primera</a>
    <a href="?page={{ crews.previous_page_number }}">Anterior</a>
    {% endif %}

    <span>Página {{ crews.number }} de {{ crews.paginator.num_pages }}</span>

    {% if crews.has_next %}
    <a href="?page={{ crews.next_page_number }}">Siguiente</a>
    <a href="?page={{ crews.paginator.num_pages }}">Última</a>
    {% endif %}
  </span>
</div>
{% endblock %}
