{% extends 'WikiPage/base.html' %}
{% block content %} 
  
<div class="content">
        {% for crew in crews %}
        <section class="info_card character-overview">
            <h3>{{ crew.name }}</h3>
            <p><strong>Descripción:</strong> {{ crew.description }}</p>
            <p><strong>Estado:</strong> {{ crew.status }}</p>
            <p><strong>Número de miembros:</strong> {{ crew.number }}</p>
            <p><strong>Nombre romano:</strong> {{ crew.roman_name }}</p>
            <p><strong>Total Prime:</strong> {{ crew.total_prime }}</p>
            <p><strong>¿Es Yonko?:</strong> {% if crew.is_yonko %}Sí{% else %}No{% endif %}</p>
        </section>
        {% endfor %}
</div>
{% endblock %}