{% extends 'WikiPage/base.html' %}
{% block content %} 
  {% if search_query %}
        <div class="content">
        {% if characters %}
                {% for character in characters %}
                <section class="info_card character-overview">
                    <div>
                        {% if character.image_url %}
                        <img src="{{ character.image_url }}" alt="{{ character.name }}" class="character-image" />
                        {% else %}
                        <p></p>
                        {% endif %}
                        <h3>{{ character.name }}</h3>
                        <p><strong>Edad:</strong> {{ character.age }} </p>
                        <p><strong>Fecha de Nacimiento:</strong> {{ character.birthday|default:"N/A" }} </p>
                        <p><strong>Trabajo:</strong> {{ character.job |default:"N/A"}}</p>
                        <p><strong>Recompensa:</strong> {{ character.bounty }} </p>
                        <p><strong>Estatus:</strong> {{ character.status }} </p>
                        <p><strong>Fruta:</strong> {{ character.fruit.name|default:"N/A" }}</p>
                        <p><strong>Tripulación:</strong> {{ character.crew.name|default:"N/A" }}</p>
                    </div>
                    </section>
                {% endfor %}
            
        {% endif %}

        {% if fruits %}
                {% for fruit in fruits %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ fruit.name }}</h3>
                        <p><strong>Tipo:</strong> {{ fruit.tipo |default:"N/A" }}</p>
                        <p><strong>Descripción:</strong> {{ fruit.description }}</p>
                    </div>
                    </section>
                {% endfor %}
            
        {% endif %}

        {% if crews %}
                {% for crew in crews %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ crew.name }}</h3>
                        <p><strong>Número de Tripulantes:</strong> {{ crew.number }}</p>
                        <p><strong>Estatus:</strong> {{ crew.status|default:"unknown"  }}</p>

                    </div>
                    </section>
                {% endfor %}
            
        {% endif %}

        {% if sagas %}
                {% for saga in sagas %}
                <section class="info_card character-overview">
                    <div>
                        {% if saga.image_url %}
                        <img src="{{ saga.image_url }}" />
                        {% else %}
                        <p></p>
                        {% endif %}
                        <h3>{{ saga.title }}</h3>
                        <p><strong>Número de Saga:</strong> {{ saga.saga_number }}</p>
                    </div>
                    </section>
                {% endfor %} 
        {% endif %}

        {% if arcs %}
                {% for arc in arcs %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ arc.title }}</h3>
                        <p><strong>Descripción:</strong> {{ arc.description }}</p>
                    </div>
                    </section>
                {% endfor %} 
        {% endif %}

        {% if not characters and not fruits and not crews and not sagas and not arcs %}
            <section class="info_card character-overview">NO SE ENCONTRARON RESULTADOS PARA "{{ search_query }}"</section>
                 
        {% endif %} 
    {% endif %}
    </div>
    {% endblock %}