{% extends 'WikiPage/base.html' %}
{% block content %} 
  {% if search_query %}
        <h1 class="page_title">RESULTADOS DE BUSQUEDA PARA "{{ search_query }}"</h1> 
        <div class="content">
        {% if characters %}
                {% for character in characters %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ character.name }}</h3>
                        <p><strong>Age:</strong> {{ character.age }} </p>
                        <p><strong>Birthday:</strong> {{ character.birthday|default:"N/A" }} </p>
                        <p><strong>Job:</strong> {{ character.job |default:"N/A"}}</p>
                        <p><strong>Bounty:</strong> {{ character.bounty }} </p>
                        <p><strong>Status:</strong> {{ character.status }} </p>
                        <p><strong>Fruit:</strong> {{ character.fruit.name|default:"N/A" }}</p>
                        <p><strong>Crew:</strong> {{ character.crew.name|default:"N/A" }}</p>
                    </div>
                    </section>
                {% endfor %}
            
        {% endif %}

        {% if fruits %}
                {% for fruit in fruits %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ fruit.name }}</h3>
                        <p><strong>Type:</strong> {{ fruit.tipo |default:"N/A" }}</p>
                        <p><strong>Description:</strong> {{ fruit.description }}</p>
                    </div>
                    </section>
                {% endfor %}
            
        {% endif %}

        {% if crews %}
                {% for crew in crews %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ crew.name }}</h3>
                        <p><strong>Number of Members:</strong> {{ crew.number }}</p>
                        <p><strong>Status:</strong> {{ crew.status|default:"unknown"  }}</p>

                    </div>
                    </section>
                {% endfor %}
            
        {% endif %}

        {% if sagas %}
                {% for saga in sagas %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ saga.title }}</h3>
                        <p><strong>Saga Number:</strong> {{ saga.saga_number }}</p>
                    </div>
                    </section>
                {% endfor %} 
        {% endif %}

        {% if arcs %}
                {% for arc in arcs %}
                <section class="info_card character-overview">
                    <div>
                        <h3>{{ arc.title }}</h3>
                        <p><strong>Description:</strong> {{ arc.description }}</p>
                    </div>
                    </section>
                {% endfor %} 
        {% endif %}

        {% if not characters and not fruits and not crews and not sagas and not arcs %}
            <section class="info_card character-overview">NO SE ENCONTRARON RESULTADOS PARA "{{ search_query }}"</section>
                 
        {% endif %} 
    {% endif %}
    </div>
    {% endblock %}